# dependencies
node_modules
.pnp
.pnp.js

# build
dist
build
.next
out

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage
playwright-report
test-results
.playwright
apps/api/storage/*.glb

# misc
*.pem
